/*Стилізація через окремий css файл. кожен елемент окрім картинок повинен мати background та color.
Всі картинки повінні мати ширину від 200 до 400 пікселів.*/

h1 {
    background: cornflowerblue;
    color: darkblue;
    /*height: 100px;*/
    /*width: 200px;*/
}

a {
    /* width: 200px; /*!!!!*/
    /* height: 200px; /*!!!*/
    background: aquamarine;
    color: darkgreen;
}

p {
    background: lightblue;
    color: navy;
}

ul {
    background: lightsalmon;
    color: maroon;
}

img {
    min-width: 200px;
    max-width: 400px;
}